# 发布项目到自己的服务器上的配置
<<<<<<< HEAD
<<<<<<< Updated upstream
name: Vue Server
name: Vue Server
# on 表示触发actions的条件
on:
    push:
        branches: [master] #main分支在push的时候会触发
    pull_request:
        branches: [master] #main分支在PR的时候会触发
 
jobs:
    build:
        runs-on: ubuntu-latest #nodejs执行的操作系统
 
        steps:
            - uses: actions/checkout@v3 #拉取你的最新代码
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "20.x"  # 指定你的node版本nd
            - run: cd ./frontend;npm install --force
            - run: cd ./frontend;npm run build
            - name: TranslateFile
              # uses: wangyucode/sftp-upload-action@24f8bb83383dc39bed201ee5da01475e6c38c568
              uses: easingthemes/ssh-deploy@v2.1.5
              # with:
              #     host: ${{ secrets.SERVER_IP }} #你的nginx服务器公网ip
              #     port: ${{ secrets.SERVER_PORT }} #你的nginx服务器ssh端口
              #     username: ${{ secrets.USERNAME }} #你的nginx服务器用户名
              #     password: ${{ secrets.PASSWORD }} #你的nginx服务器密码
              #     localDir: "dist" #你vue项目build好的文件的路径,每次服务器上会自动删除对应的文件夹后重新覆盖
              #     remoteDir: ${{ secrets.SERVER_DESTINATION }} #你要把你build好的文件夹放到nginx服务器上的什么位置，一般都是nginx配置的站点路径

              env:
                  SSH_PRIVATE_KEY: ${{ secrets.VUEPRESS_SERVER_PRI_KEY }}  # 密钥
                  ARGS: '-rltgoDzvO --delete'
                  SOURCE: "frontend/public/ " # 将要复制到云服务器的静态文件夹
                  REMOTE_HOST: ${{ secrets.SERVER_IP }} # 云服务器公网地址
                  REMOTE_USER: ${{ secrets.USERNAME }} # 服务器用户名
                  TARGET: "/home/ban/" # 打包后的文件夹将放在目录
